{% extends 'main/layout.html' %}
{% load main_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!--<p>Title == {{ title }}</p>-->
<!--<p>Description == {{ description }}</p>-->
<!--<p>Content == {{ content }}</p>-->

<p>method == {{ method }}</p>

<div>model_slug == {{ model_slug }}</div>
<div>selected_option_category == {{ selected_option_category }}</div>
<br>
<p>{{ parts_list }}</p>

<!--<form method="post" action="{% url 'all_catalog' %}">-->
<!--    {% csrf_token %}-->
<!--    {% get_all_model as all_model %}-->
<!--    {% for model in all_model %}-->
<!--        <button type="submit" class="btn btn-outline-secondary" name="model_select" value={{ model.id }}>{{ model.auto }}</button>-->
<!--    {% endfor %}-->
<!--</form>-->
<!--<br>-->

<!--<form method="post" action="{% url 'all_catalog' %}">-->
<!--    {% csrf_token %}-->
<!--    {% get_all_categories as all_categories %}-->
<!--    {% for cat in all_categories %}-->
<!--        <button type="submit" class="btn btn-outline-secondary" name="category_select" value={{ cat.id }}>{{ cat.category }}</button>-->
<!--    {% endfor %}-->
<!--</form>-->
<!--<br>-->

<!--<div class="catfilter">-->
<!--    {% if cat_selected == 0 %}-->
<!--		<li class="selected">Всі запчастини</li>-->
<!--    {% else %}-->
<!--		<li><a href="{% url 'all_catalog' %}">Всі запчастини</a></li>-->
<!--    {% endif %}-->

<!--    {% for c in cats %}-->
<!--        {% if c.pk == cat_selected %}-->
<!--            <li class="selected">{{c.category}}</li>-->
<!--        {% else %}-->
<!--            <li><a href="{{ c.get_absolute_url }}">{{c.category}}</a></li>-->
<!--            <li><a href="#">{{c.category}}</a></li>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--</div>-->

    {% for part in parts_list %}
    <div class="item_card">
        <div class="card_image">
            <img src={{part.photo.url}} alt="">
        </div>
        <div class="card_info">
            <h4>{{ part.title }}</h4>
            <h5>Category = {{ part.category }}</h5>
            {% for model in part.auto.all %}
                <h5>Model = {{ model }}</h5>
            {% endfor %}
            <p>{{ part.content }}</p>
            <p>{{ part.price }}</p>
            <a href="{{ part.get_absolute_url }}" class="btn btn-outline-primary">Primary</a>
        </div>
    </div>
    {% endfor %}
    <br>
    <h5>{{ after_parts }}</h5>

{% endblock %}