{% extends 'main/layout.html' %}
{% load main_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <h3>{{ description }}</h3>
    <p>{{ content }}</p>
    <br>
    <h3>Запчастини Renault {{ model_active }}</h3>
    <h4>Категорія запчатин {{ category_active }}</h4>

<!--    {% if model_activ == "all" %}-->
<!--        <h3>Запчатини Renault - всі </h3>-->
<!--    {% endif %}-->
<!--    {% get_all_model as all_model %}-->
<!--    {% for model in all_model  %}-->

<!--        <h3>{{ model.auto }}</h3>-->
<!--    {% endfor %}-->
<!--    <h5>{{ model }}</h5>-->
    <br>

<!--    {% if cat_selected == 0 %}-->
<!--		<li class="selected">Всі запчастини</li>-->
<!--    {% else %}-->
<!--		<li><a href="{% url 'catalog' %}">Всі запчастини</a></li>-->
<!--    {% endif %}-->

<!--    {% for c in cats %}-->
<!--        {% if c.pk == cat_selected %}-->
<!--            <li class="selected">{{c.category}}</li>-->
<!--        {% else %}-->
<!--            <li><a href="{{ c.get_absolute_url }}">{{c.category}}</a></li>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->


    {% for part in parts_list %}
    <div class="item">
        <div class="card_image">
            <img src={{part.photo.url}} alt="">
        </div>
        <div class="card_info">
            <h4>{{ part.title }}</h4>
            <h5>{{ part.auto }} - {{ part.category }}</h5>
            <p>{{ part.content }}</p>
            <p>{{ part.price }}</p>
            <a href="{{ part.get_absolute_url }}" class="btn btn-outline-primary">Primary</a>
        </div>
    </div>
    {% endfor %}
    <br>
    <h5>{{ after_parts }}</h5>

{% endblock %}