{% extends 'main/layout.html' %}

{% block title %}{{ item_data.title }}{% endblock %}

{% block content %}

<div class="item">
    <div class="row">
        <div class="item_photo col-12 col-md-6">
            <img src="{{ item_data.photo.url }}" class="img-fluid" alt="{{ item_data.title }}">
        </div>
        <div class="item_info col-12 col-md-6">
            <h1>{{ item_data.title }}</h1>
            <p>Каталожний номер</p>
            <p>Ціна: {{ item_data.price }}</p>
        </div>
    </div>
    <div class="item_content">
        <p>CONTENT: {{ item_data.content }}</p>
        {% for model in item_data.auto.all %}
            <p>Модель: {{ model }}</p>
        {% endfor %}
        <p>Category: {{ item_data.category }}</p>
    </div>
</div>
<p>selected_option_auto: item_data.auto.all(): {{ selected_option_auto }}</p>

<p>{{ item__imaga.image.url }}</p>

<div class="f-carousel" id="productCarousel">

            <div class="f-carousel__slide">
            {% for im in item_data.parts_images.all %}
                <a href="{{ im.image.url }}" data-fancybox="gallery" data-caption="Caption #1">
                    <img src="{{ im.image.url }}" />
                </a>

            {% endfor %}
            </div>
</div>
<!--    jhvjh jdsdj vidvuidgv disuv dsiv dsiydiu-->
<!--    {% for im in item_data.parts_images.all %}-->
<!--            <div class="f-carousel__slide"-->
<!--            data-thumb-src="{{ im.image.url }}"-->
<!--            data-fancybox="gallery"-->
<!--            data-src="{{ im.image.url }}"-->
<!--                 style="max-width: 100%;"-->
<!--          >-->
<!--            <img-->
<!--              alt=""-->

<!--              data-lazy-src="{{ im.image.url }}"-->
<!--            />-->
<!--          </div>-->
<!--    {% endfor %}-->
<!--</div>-->

<section id="detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
   <!-- Product Images & Alternates -->
          <div class="product-images demo-gallery">
            <!-- Begin Product Images Slider -->
            <div class="main-img-slider">
               <a data-fancybox="gallery" href="http://via.placeholder.com/1920x1280"><img src="http://via.placeholder.com/840x480" class="img-fluid"></a>
               <a data-fancybox="gallery" href="http://via.placeholder.com/1920x1280"><img src="http://via.placeholder.com/840x480" class="img-fluid"></a>
               <a data-fancybox="gallery" href="http://via.placeholder.com/1920x1280"><img src="http://via.placeholder.com/840x480" class="img-fluid"></a>
               <a data-fancybox="gallery" href="http://via.placeholder.com/1920x1280"><img src="http://via.placeholder.com/840x480" class="img-fluid"></a>
               <a data-fancybox="gallery" href="http://via.placeholder.com/1920x1280"><img src="http://via.placeholder.com/840x480" class="img-fluid"></a>
               <a data-fancybox="gallery" href="http://via.placeholder.com/1920x1280"><img src="http://via.placeholder.com/840x480" class="img-fluid"></a>
          	</div>
          <!-- End Product Images Slider -->

          <!-- Begin product thumb nav -->
          <ul class="thumb-nav">
            <li><img src="http://via.placeholder.com/72x50"></li>
            <li><img src="http://via.placeholder.com/72x50"></li>
            <li><img src="http://via.placeholder.com/72x50"></li>
            <li><img src="http://via.placeholder.com/72x50"></li>
            <li><img src="http://via.placeholder.com/72x50"></li>
          </ul>
          <!-- End product thumb nav -->
        </div>
        <!-- End Product Images & Alternates -->

      </div>
    </div>
  </div>
</section>




{% endblock %}

            <!--    <img src="{{ im.image.url }}" class="img-fluid" alt="{{ item_data.title }}">-->