{% extends 'main/layout.html' %}

{% block title %}{{ item_data.title }}{% endblock %}

{% block content %}

<div class="item">
    <div class="container">
        <div class="row">
            <div class="item_photo col-12 col-md-6">
                <section id="detail">
            <!-- Product Images & Alternates -->
                            <div class="product-images demo-gallery">
            <!-- Begin Product Images Slider -->
                                <div class="main-img-slider">
                                    {% for im in item_data.parts_images.all %}
                                    <a data-fancybox="gallery"
                                       href="{{ im.image.url }}">
                                        <img src="{{ im.image.url }}" class="img-fluid"></a>
                                    {% endfor %}
                                </div>
            <!-- End Product Images Slider -->
            <!-- Begin product thumb nav -->
                                <ul class="thumb-nav">
                                    {% for im in item_data.parts_images.all %}
                                    <li>
                                        <img src="{{ im.image.url }}">
                                    </li>
                                    {% endfor %}
                                </ul>
            <!-- End product thumb nav -->
                            </div>
            <!-- End Product Images & Alternates -->
                </section>
            </div>

            <div class="item_info col-12 col-md-6">
                <h1>{{ item_data.title }}</h1>
                <p>Каталожний номер</p>
                <p>Ціна: {{ item_data.price }}</p>
            </div>
        </div>
    </div>
    <div class="item_content">
        <p>CONTENT: {{ item_data.content }}</p>
        {% for model in item_data.auto.all %}
            <p>Модель: {{ model }}</p>
        {% endfor %}
        <p>Category: {{ item_data.category }}</p>
    </div>
</div>
<p>selected_option_auto: item_data.auto.all(): {{ selected_option_auto }}</p>

<p>{{ item__imaga.image.url }}</p>

{% endblock %}

