{% extends 'main/layout.html' %}

{% block title %}{{ item_data.title }}{% endblock %}

{% block content %}

<!-- Item photo block -->
<div class="item_photo col-12 col-md-6">
    <section id="detail">
<!-- Gallery Slider -->
        <div class="product-images demo-gallery">
<!-- image main -->
            <div class="main-img-slider">
                {% for im in item_data.parts_images.all %}
                <a data-fancybox="gallery"
                   href="{{ im.image.url }}"><img src="{{ im.image.url }}" class="img-fluid">
                </a>
                {% endfor %}
            </div>
<!-- thumb nav -->
            <ul class="thumb-nav">
                {% for im in item_data.parts_images.all %}
                <li>
                    <img src="{{ im.image.url }}">
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>

<!-- Item info block -->
<div class="item_info col-12 col-md-6">
    <h1>{{ item_data.title }}</h1>
    <p>Каталожний номер</p>
    <p>Ціна: {{ item_data.price }}</p>
</div>

<!-- Item content block -->
<div class="item_content">
    <p>CONTENT: {{ item_data.content }}</p>
    {% for model in item_data.auto.all %}
        <p>Модель: {{ model }}</p>
    {% endfor %}
    <p>Category: {{ item_data.category }}</p>
</div>
<br>

<form name="form_phone" method="post" action="{{ item_data.get_absolute_url }}">
    {% csrf_token %}
<!--        {{ form.as_p }}-->
<!--        <input id="telNo" name="telNo" data-tel-input placeholder="Введите номер телефона" type="tel" size="20" minlength="9" maxlength="14">-->
<!--        <input type="tel" id="inputPhone" name="inputPhone" pattern="^((8|\+3)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" placeholder="Введите ваш телефон">-->
    <input type="tel" id="inputPhone" name="inputPhone"
           pattern="^[+0-9]{1}[0-9]{9,12}$" placeholder="Введите ваш телефон">

    <button type="submit">SenD</button>
</form>
<br>
{% if phone %}
<p>Ми отримали заявку за номером {{ phone }}</p>
{% endif %}
{% endblock %}
cqhytwbsdbqkguwg



