{% load static %}
{% load main_tags %}

{% load i18n %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">-->
<!--    <link rel="stylesheet" href="https://kit.fontawesome.com/80523ca957.css" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{% static 'main/css/general.css' %}">
</head>

<body>
<!--  ===========    HEADER     ===============  -->
<div class="header">
<!--  ===========    HEADER TOP ===============  -->
    <div class="header-top">
        <div class="container">
              <div class="row">
                  <div class="col-6 col-md-3">
                      <p>Megan II III</p>
                      <p>Scenic II III</p>
                      <p>Kangoo I I+</p>
                  </div>
                  <div class="col-6 col-md-3">
                      <a href="tel:+380971234567">
                          <p>+38 097 123 45 67</p>
                      </a>
                      <a href="tel:+380971234567">
                          <p>+38 097 123 45 67</p>
                      </a>
                      <a href="tel:+380971234567">
                          <p>+38 097 123 45 67</p>
                      </a>
                  </div>
                  <div class="col-6 col-md-3">
                      <p>Графік роботи:</p>
                      <p>Пн - Пт = 09:00 - 18:00 </p>
                      <p>Субота = 09:00 - 15:00</p>
                  </div>
                  <div class="col-6 col-md-3">.col-6 .col-md-4</div>
              </div>
        </div>
    </div>
<!--  ===========    HEADER NAVBAR ============  -->
    <div class="header-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">RENAULT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" onclick="myFunction(event)">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">Про нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'all_catalog' %}">Каталог</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Авто в роботі</a>
                            </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   {% trans 'Dropdown' %}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
<!-- Форма пошуку -->
              <form method="get" action="{% url 'all_catalog' %}" class="d-flex" role="search">
<!--                  {% csrf_token %}-->
                  <input name="query_search" class="form-control me-2" type="search" placeholder="Search...." aria-label="Search">
                  <button class="btn btn-outline-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
        </div>
    </div>
</div>
<!--  ===========    END  ============  -->

<!--  ===========    HEADER     ===============  -->
<div class="content">
    <div class="container">
        <div class="row">




<form action="{% url 'set_language' %}" id="form-id" method="post">{% csrf_token %}
    <input name="next"  type="hidden" value="{{ redirect_to }}">
<div>
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% for language in languages %}
    <button type="submit" name="language" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}class="selected"{% endif %}>
      {{ language.name_local }} ({{ language.code }})
    </button>
  {% endfor %}
</div>

<!--    <input type="submit" value="Go">-->
</form>
<p>{{ redirect_to }}</p>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script>
  $(document).ready(function() {
    $('button[name="language"]').click(function() {
      var languageCode = $(this).val();
      $('input[name="language"]').val(languageCode);
      $('form').submit();
    });
  });
</script>

<!--<form action="{% url 'set_language' %}" id="form-id"  name="formName" method="post">-->
<!--                {% csrf_token %}-->
<!--    <input name="language" type="hidden" value="{{ redirect_to }}">-->
<!--                {% get_current_language as LANGUAGE_CODE %}-->
<!--                {% get_available_languages as LANGUAGES %}-->
<!--                {% get_language_info_list for LANGUAGES as languages %}-->
<!--                {% for language in languages %}-->
<!--        <input type="button" name="next" value="{{ language.code }}" onClick="document.getElementById('form-id').submit()"> Пиво-->
<!--    {% endfor %}-->

<!--</form>-->

{% for language in languages %}
    {% if language.code == LANGUAGE_CODE %}
            <p>kkkkk {{ language.code }}</p>
    {% endif %}
{% endfor %}
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!--  ===========    END     ===============  -->

<!--=========== FOOTER ===========-->
<div class="footer">
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
<!--                <label for="newsletter1" class="visually-hidden">Email address</label>-->
                <input id="phone_call" type="text" class="form-control" placeholder="097 777 88 99">
                <button class="btn btn-primary" type="button">PHONE</button>
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>&copy; 2023 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
</div>
<!--=========== END FOOTER ===========-->

<!--=========== SCRIPT ===========-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="{% static 'main/js/general.js' %}"></script>
<!--=========== END SCRIPT ===========-->
</body>
</html>

