{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <h3>{{ description }}</h3>
    <p>{{ content }}</p>
    <br>
    <p>Вивід категорії </p>
    <br>
    {% if cat_selected == 0 %}
		<li class="selected">Всі запчастини</li>
    {% else %}
		<li><a href="{% url 'catalog' %}">Всі запчастини</a></li>
    {% endif %}

    {% for c in cats %}
        {% if c.pk == cat_selected %}
            <li class="selected">{{c.category}}</li>
        {% else %}
            <li><a href="{{ c.get_absolute_url }}">{{c.category}}</a></li>
        {% endif %}
    {% endfor %}

    <ul>
        {% for parts in allparts %}
        <li>
            <h2>{{ parts.title }}</h2>
            <p>{{ parts.content }}</p>
            <p>{{ parts.price }}</p>
            <a href="{{ parts.get_absolute_url }}" class="btn btn-outline-primary">Primary</a>
            <hr>
        </li>
        {% endfor %}
    </ul>
{% endblock %}