$white: #fff;
$black: #000;

$dark_white: #f0f0f0;
$light_black: #4D4D4D;

$minty: #78c2ad;
$teal: #20c997;
$cyan: #6cc3d5;
$green: #59ab6e;

$dark_gray: #999999;
$grey: #cccccc;
$medium_gray: #D7D8D2;
$light_grey: #eeeeee;

$primary: $teal;
$secondary: $teal;
$accent: $teal;

$border: $grey;