/* ####### SLIDER ######## */
#detail .product-images li, #detail .product-images figure, #detail .product-images a, #detail .product-images img {
  display: block;
  outline: none;
  border: none; }
#detail .product-images .main-img-slider figure {
  margin: 0 auto;
  padding: 0 2em; }
#detail .product-images .main-img-slider figure a {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }
#detail .product-images .main-img-slider figure a img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }
#detail .product-images .thumb-nav li {
  display: block;
  margin: 0 auto;
  cursor: pointer; }
  #detail .product-images .thumb-nav li img {
    display: block;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    border: 4px solid transparent;
    -webkit-transition: border-color .25s;
    -ms-transition: border-color .25s;
    -moz-transition: border-color .25s;
    transition: border-color .25s; }
#detail .product-images .thumb-nav li:hover, #detail .product-images .thumb-nav li:focus {
  border-color: #999; }
#detail .product-images .thumb-nav li.slick-current img {
  border-color: #20c997; }
#detail .product-images .thumb-nav.slick-slider {
  padding: 15px;
  margin: 0; }
#detail .product-images .slick-slider .slick-prev:hover, #detail .product-images .slick-slider .slick-next:hover {
  opacity: 1; }
#detail .product-images .slick-slider .slick-prev {
  left: 0; }
#detail .product-images .slick-slider .slick-next {
  right: 0; }
#detail .product-images .slick-slider .slick-prev, #detail .product-images .slick-slider .slick-next {
  z-index: 100;
  position: absolute;
  top: 40%;
  opacity: .6;
  transition: opacity .25s;
  cursor: pointer; }
  #detail .product-images .slick-slider .slick-prev svg, #detail .product-images .slick-slider .slick-next svg {
    width: 1em; }

/* ####### SLIDER ######## */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

.header .header-navbar {
  background-color: #20c997;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .header .header-navbar .navbar-brand {
    font-size: 1.25em;
    margin-left: 0.75rem; }
  .header .header-navbar .offcanvas {
    max-width: 80%; }
    .header .header-navbar .offcanvas .offcanvas-header {
      border-bottom: 1px solid #cccccc; }
      .header .header-navbar .offcanvas .offcanvas-header .btn-close {
        border: 2px solid #000; }
    .header .header-navbar .offcanvas .offcanvas-body .navbar-nav .nav-item {
      border-bottom: 1px solid #cccccc; }
    .header .header-navbar .offcanvas .offcanvas-body .lang_form {
      margin-top: 1rem; }
    .header .header-navbar .offcanvas .offcanvas-body .search_form {
      margin-top: 1rem; }
      .header .header-navbar .offcanvas .offcanvas-body .search_form svg {
        height: 1.5rem;
        fill: #4D4D4D; }

.sidebar .side_carousel {
  margin-top: 20px; }
  .sidebar .side_carousel img {
    width: 100%; }
.sidebar .side_filter {
  padding: 10px;
  margin-top: 20px;
  background: #20c997;
  border-radius: 6px;
  border: solid 1px #cccccc; }
  .sidebar .side_filter .form-select {
    margin-bottom: 10px; }

@media (min-width: 576px) {
  .not_mobile {
    display: none; } }

/*# sourceMappingURL=general.css.map */
