body {
    font-family: 'Roboto', sans-serif;
}

.header {
/*    background: lightgrey; */
/*    border-bottom: solid 1px grey; */
/*    box-shadow: 0px 0px 4px 0px; */

}

.header .header-top .container {
    background: #f8f8f8;
    border-left: solid 1px #ced4da;
    border-right: solid 1px #ced4da;
}

.header .header-navbar {
    background: skyblue;
    border-top: solid 1px #ced4da;
    border-bottom: solid 1px #ced4da;
    box-shadow: 0px 0px 4px -2px;
/*    0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%); */
}

.content .sidecard {
    padding: 10px;
    margin-top: 20px;
    background: skyblue;
    border-radius: 6px;
    border: solid 1px #ced4da;
}

.content .sidecard .form-select {
    margin-bottom: 10px;
}

/*
.header-top .container {
    border-bottom: solid 1px grey;
}


@media (min-width: 1200px) {
    body {
        background: white;
    }
}
*/

.item_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item_card img {
    max-width: 150px;
}

.item img {
/*    max-width: 100%; */
}

.content .item {
/*    padding: 10px;    */
    margin-top: 20px;
}

.item .item_content {
    margin-top: 20px;
}

/* ########################## */

.slick-slider .slick-prev, .slick-slider .slick-next {
  z-index: 100;
  font-size: 2.5em;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: #B7B7B7;
  position: absolute;
  top: 50%;
  text-align: center;
  color: #000;
  opacity: .3;
  transition: opacity .25s;
  cursor: pointer;
}
.slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
  opacity: .65;
}
.slick-slider .slick-prev {
  left: 0;
}
.slick-slider .slick-next {
  right: 0;
}

#detail .product-images {
  width: 100%;
  margin: 0 auto;
  border:1px solid #eee;
}
#detail .product-images li, #detail .product-images figure, #detail .product-images a, #detail .product-images img {
  display: block;
  outline: none;
  border: none;
}
#detail .product-images .main-img-slider figure {
  margin: 0 auto;
  padding: 0 2em;
}
#detail .product-images .main-img-slider figure a {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
#detail .product-images .main-img-slider figure a img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#detail .product-images .thumb-nav {
  margin: 0 auto;
  padding:20px 10px;
  max-width: 600px;
}
#detail .product-images .thumb-nav.slick-slider .slick-prev, #detail .product-images .thumb-nav.slick-slider .slick-next {
  font-size: 1.2em;
  height: 20px;
  width: 26px;
  margin-top: -10px;
}
#detail .product-images .thumb-nav.slick-slider .slick-prev {
  margin-left: -30px;
}
#detail .product-images .thumb-nav.slick-slider .slick-next {
  margin-right: -30px;
}
#detail .product-images .thumb-nav li {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
#detail .product-images .thumb-nav li img {
  display: block;
  width: 100%;
  max-width: 75px;
  margin: 0 auto;
  border: 2px solid transparent;
  -webkit-transition: border-color .25s;
  -ms-transition: border-color .25s;
  -moz-transition: border-color .25s;
  transition: border-color .25s;
}
#detail .product-images .thumb-nav li:hover, #detail .product-images .thumb-nav li:focus {
  border-color: #999;
}
#detail .product-images .thumb-nav li.slick-current img {
  border-color: #d12f81;
}


/* dvdbdbdbdbdbrdbr */


/* із \хнього кодепен да ауді

:root {
  --f-brand-color: #2563eb;
}

#productCarousel,
.f-thumbs.is-classic,
.fancybox__toolbar,
.fancybox__nav {
  --f-button-width: 40px;
  --f-button-height: 40px;
  --f-button-border-radius: 4px;

  --f-button-color: #0d0c22;
  --f-button-hover-color: var(--f-brand-color);

  --f-button-bg: #f1f5f9;
  --f-button-hover-bg: #e2e8f0;
  --f-button-active-bg: #e2e8f0;

  --f-button-svg-width: 20px;
  --f-button-svg-height: 20px;
  --f-button-svg-stroke-width: 2.25;
  --f-button-svg-filter: none;

  --f-button-svg-disabled-opacity: 0.2;
}

.f-carousel__slide {
  display: flex;
  align-items: center;
  justify-items: center;
}

.f-thumbs.is-classic {
  --f-thumb-width: 120px;
  --f-thumb-height: 80px;
  --f-thumb-gap: 8px;

  --f-thumb-opacity: 1;
  --f-thumb-selected-opacity: 1;

  --f-thumb-outline: 2px;
  --f-thumb-outline-color: var(--f-brand-color);

  --f-button-next-pos: 8px;
  --f-button-prev-pos: 8px;
}

.f-thumbs.is-classic.is-horizontal {
  padding: 0 56px;
}

.f-thumbs.is-classic.is-vertical {
  padding: 56px 0;
}

#productCarousel .f-carousel__nav {
  opacity: 0;
  transition: opacity 0.15s;
}

@media (hover: hover) {
  #productCarousel:hover .f-carousel__nav {
    opacity: 1;
  }
}

.fancybox__container {
  --fancybox-bg: #fff;
  --fancybox-color: #6a6969;

  --f-spinner-color-1: rgba(0, 0, 0, 0.1);
  --f-spinner-color-2: rgba(17, 24, 28, 0.8);
}

@media screen and (min-width: 640px) {
  .fancybox__container {
    flex-direction: row-reverse;
  }
}

.fancybox__thumbs.is-classic.is-horizontal {
  --f-thumb-width: 75px;
  --f-thumb-height: 55px;
  --f-thumb-gap: 8px;
}

.fancybox__thumbs.is-classic.is-vertical {
  --f-thumb-width: 100%;
  --f-thumb-height: 100px;

  width: 182px;

  outline: 1px solid #edeef0;
}

.fancybox__thumbs.is-classic.is-vertical .f-thumbs__track {
  padding: 0 16px;
}

.fancybox__toolbar {
  padding: 8px;
}

.fancybox__nav {
  --f-button-next-pos: 8px;
  --f-button-prev-pos: 8px;
}

.fancybox__slide {
  padding: 8px;
}

*/

