@import 'color';

/* ####### SLIDER ######## */
#detail {
    .product-images {
        li, figure, a, img {
            display: block;
            outline: none;
            border: none;
        }
        .main-img-slider {
            figure {
                margin: 0 auto;
                padding: 0 2em;
            }
            figure a {
                cursor: pointer;
                cursor: -webkit-zoom-in;
                cursor: -moz-zoom-in;
                cursor: zoom-in;
            }
            figure a img {
                width: 100%;
                max-width: 400px;
                margin: 0 auto;
            }
        }
        .thumb-nav {
            li {
                display: block;
                margin: 0 auto;
                cursor: pointer;
                img {
                    display: block;
                    width: 100%;
                    max-width: 90%;
                    margin: 0 auto;
                    border: 4px solid transparent;
                    -webkit-transition: border-color .25s;
                    -ms-transition: border-color .25s;
                    -moz-transition: border-color .25s;
                    transition: border-color .25s;
                }

            }
            li:hover, li:focus {
                border-color: #999;
            }
            li.slick-current img {
                border-color: $accent;
            }
        }
        .thumb-nav.slick-slider {
            padding: 15px;
            margin: 0;
        }
        .slick-slider {
            .slick-prev:hover, .slick-next:hover {
                opacity: 1;
            }
            .slick-prev {
                left: 0;
            }
            .slick-next {
                right: 0;
            }
            .slick-prev, .slick-next {
                z-index: 100;
                position: absolute;
                top: 40%;
                opacity: .6;
                transition: opacity .25s;
                cursor: pointer;
                svg {
                    width: 1em;
                }
            }
        }
    }
}
// .slick-dotted.slick-slider
// {
//     margin-bottom: 30px;
// }
// .slick-dots
// {
//     position: absolute;
//     bottom: -25px;
//
//     display: block;
//
//     width: 100%;
//     padding: 0;
//     margin: 0;
//
//     list-style: none;
//
//     text-align: center;
// }
// .slick-dots li
// {
//     position: relative;
//
//     display: inline-block;
//
//     width: 20px;
//     height: 20px;
//     margin: 0 5px;
//     padding: 0;
//
//     cursor: pointer;
// }
// .slick-dots li button
// {
//     font-size: 0;
//     line-height: 0;
//
//     display: block;
//
//     width: 20px;
//     height: 20px;
//     padding: 5px;
//
//     cursor: pointer;
//
//     color: transparent;
//     border: 0;
//     outline: none;
//     background: transparent;
// }
// .slick-dots li button:hover,
// .slick-dots li button:focus
// {
//     outline: none;
// }
// .slick-dots li button:hover:before,
// .slick-dots li button:focus:before
// {
//     opacity: 1;
// }
// .slick-dots li button:before
// {
//     font-family: 'slick';
//     font-size: 6px;
//     line-height: 20px;
//
//     position: absolute;
//     top: 0;
//     left: 0;
//
//     width: 20px;
//     height: 20px;
//
//     content: '•';
//     text-align: center;
//
//     opacity: .25;
//     color: black;
//
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
// .slick-dots li.slick-active button:before
// {
//     opacity: .75;
//     color: black;
// }

/* ####### SLIDER ######## */
// #detail .product-images li, #detail .product-images figure, #detail .product-images a, #detail .product-images img {
//   display: block;
//   outline: none;
//   border: none;
// }
// #detail .product-images .main-img-slider figure {
//   margin: 0 auto;
//   padding: 0 2em;
// }
// #detail .product-images .main-img-slider figure a {
//   cursor: pointer;
//   cursor: -webkit-zoom-in;
//   cursor: -moz-zoom-in;
//   cursor: zoom-in;
// }
// #detail .product-images .main-img-slider figure a img {
//   width: 100%;
//   max-width: 400px;
//   margin: 0 auto;
// }
//
// #detail {
//     .product-images {
//         .thumb-nav.slick-slider {
//             padding: 15px;
//             margin: 0;
//         }
//         .slick-slider {
//             .slick-prev:hover, .slick-next:hover {
//                 opacity: 1;
//             }
//             .slick-prev {
//                 left: 0;
//             }
//             .slick-next {
//                 right: 0;
//             }
//             .slick-prev, .slick-next {
//                 z-index: 100;
//                 position: absolute;
//                 top: 40%;
//                 opacity: .6;
//                 transition: opacity .25s;
//                 cursor: pointer;
//                 svg {
//                     width: 1em;
//                 }
//             }
//         }
//     }
//
// }
// #detail .product-images .thumb-nav li {
//   display: block;
//   margin: 0 auto;
//   cursor: pointer;
// }
// #detail .product-images .thumb-nav li img {
//   display: block;
//   width: 100%;
//   max-width: 90%;
//   margin: 0 auto;
//   border: 4px solid transparent;
//   -webkit-transition: border-color .25s;
//   -ms-transition: border-color .25s;
//   -moz-transition: border-color .25s;
//   transition: border-color .25s;
// }
// #detail .product-images .thumb-nav li:hover, #detail .product-images .thumb-nav li:focus {
//   border-color: #999;
// }
// #detail .product-images .thumb-nav li.slick-current img {
//   border-color: $accent;
// }